body {
  font-size: 16px;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

.img-background {
  background-image: url("https://images.unsplash.com/photo-1506747958701-808cb3805b0f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 95vh;
  border: 2px solid black;
}

.img-background h1 {
  font-size: 5rem;
  letter-spacing: 5px;
}

.img-background p {
  font-weight: 200;
}

.img-background .btn {
  background-color: #fa7e61;
  font-size: 0.8rem;
  font-weight: 700;
}

.body2 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .img-background {
    min-height: 100vh;
  }
  .img-background h1 {
    font-size: 3rem;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 576px) {
  .img-background h1 {
    font-size: 2rem;
    letter-spacing: 3px;
  }
}
